name: Build and deploy

on:
  push:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 19.x

      - run: npm install
      - run: npm run build

      - uses: actions/upload-artifact@v4
        with:
          name: production-files
          path: ./build

  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: production-files
          path: ./build

      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: \${{ secrets.PAGES_TOKEN }}
          publish_dir: ./build
